.horizontal {
    color: black;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin: 1%;
}

.vertical {
    color: black;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin: 1%;
    height: 100px;
}